:root {
    --bg-color: #032471;
    --text-color: #f9f7fe;
    --heading-font-family: 'Montserrat', sans-serif;
    --default-font-family: 'Open Sans', sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
    background-color: var(--bg-color);
  }

  h2 {
    font-family: var(--heading-font-family);
    color: var(--text-color) ;
  }

  .hero {
    padding: 50px;
  } 

 .about {
    padding: 50px 0;
    margin-left: auto;
 }

    

