:root {
    --bg-color: #032471;
    --text-color: #f9f7fe;
    --heading-font-family: 'Raleway', sans-serif;
    --default-font-family: 'Raleway', sans-serif;
    --akcent-font-family: 'Raleway', sans-serif;
    --black: #1E2336;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
  
  .bodypage {
      padding: 0 10px;
      width: 100%;
    }

  body {
    font-family: var(--default-font-family);
    background-color: var(--bg-color);
  }
 
  h1 {
    font-family: var(--heading-font-family);
    color: var(--text-color) ;
    font-size: 40px;
    font-weight: 100;
  } 

  h2{
    font-family: var(--heading-font-family);
    color: var(--text-color) ;
    font-size: 30px;
    font-weight: 300;
  }
  .akcent {
    font-family: var(--akcent-font-family);
    color: var(--black);
    background-color: var(--text-color) ;
    font-size: 20px;
    font-weight: 900;
  }

  p {
    font-family: var(--heading-font-family);
    color: var(--text-color) ;
    font-size: 20px;
  }

  .container-fluid {
    padding: 0 100px;
        }

  .hero {
    padding: 0px;
  } 

 .about {
    padding: 50px 0;
    margin-left: auto;
    font-size: 40px;
    font-family: var(--heading-font-family);
 }

.footer {
  margin-top: 200px;
  text-align: center;
}

  li .footer-text .footermenu {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color) ;
  font-size: 15px;
}


a { 
  color: var(--text-color) ;
  font-size: 15px;
}

a:hover { 
  background: rgb(205, 127, 0); 
  color: var(--text-color) ;
  font-size: 20px;
}
.content_rotate {
	width: 50px;
	height: 50px;
  background-image: url(images/logo-wh.png);
  background-size: cover;
}

.content__rotate:hover {
	transition: all 0.8s ease 0s;
  transform: rotate(-360deg);
}

.footermenu {
  padding: 100px 0 20px;
}


nav {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  color: var(--text-color) ;

}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  font-size: 20px;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color) ;
  transition: all 100ms ease-in-out;
  font-size: 20px;
  text-align: center;
}

nav a:hover,
nav li.active a {
  color: var(--text-color) ;
}


@media (max-width: 1000px) {

  .bodypage {
    padding: 0 10px;
    width: 100%;
        }

        h1 {
          font-size: 30px;
          font-weight: 100;
        } 
      
        h2{
          font-size: 20px;
          font-weight: 300;
        }
        .akcent {
          font-size: 18px;
          font-weight: 900;
        }

        .hero {
          padding: 0px;
        } 

        .row {
          min-width: 300px;
        }
        .about {
          padding: 50px 0;
          margin-left: auto;
          font-size: 30px;
          font-family: var(--heading-font-family);
       }

       nav li .footermenu {
          display: block;
          font-size: 15px;
        }
      

}








